<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a
        {
            color: greenyellow;
            border: 2px dotted green;
            border-radius: 25px;
        }
        a:hover
        {
            color: blue
        }
    </style>
</head>
<body>
    <CENTER>
        <h1>VIRAT KOHLI</h1>
        <h1>International Hundreds:80</h1>
        <a href="{% url 'Ms_Dhoni:template2' %}"><h1>click here to visit template2</h1></a>
    </CENTER>
    
</body>
</html>